<a href="https://colab.research.google.com/github/isoomni/AI/blob/main/%EC%A4%91%EA%B8%89%EB%B0%98_1%EC%A3%BC%EC%B0%A8_%EA%B3%BC%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#pandas, numpy, matplotlib 연습문제(중급)

##pandas

In [ ]:
# pandas 라이브러리 import하기
import pandas as pd

In [ ]:
!wget --no-check-certificate 'https://docs.google.com/uc?export=download&id=1Zp8GnBFJwA6OzzIKX3MC83fg78qTmSiZ' -O titanic.csv #titanic.csv 파일 읽어오기

In [ ]:
# titanic 데이터 읽어오기
titanic = pd.read_csv("/content/titanic.csv")

In [ ]:
# titanic Dataframe 보기
titanic

**1. 남자(male)이면서 Pclass가 1인 승객은 몇 명일까요?**

In [ ]:
# 코드 작성
maleClass1 = titanic[(titanic["Sex"]=="male") | (titanic["Pclass" ]==1)]
print(len(maleClass1),"명")

**2. 남자이면서 Pclass가 1이고 Fare가 50 이상인 승객은 몇 명일까요?**

In [ ]:
# 코드 작성
Fare50_Class1 = titanic[(titanic["Pclass"]==1) | (titanic["Fare"]>=50)]
print(len(Fare50_Class1), "명")

**3. 2번 문제의 내용을 데이터로 한 Dataframe 만들기**

In [ ]:
# 코드 작성
Fare50_Class1

**4. titanic에서 Name에서 first name만을 뽑아 새로운 열인 First_Name을 titanic에 추가해주세요**

ex) johann + Sebastian + Bach

(First name) +(Middle name) + (Surname)

In [ ]:
# 코드 작성
titanic['FirstName'] = titanic['Name'].str.split(',').str[0]
titanic.head(8)

##matplotlib

In [ ]:
# matplotlib import하기
import matplotlib.pyplot as plt
import numpy as np

**Hint**
특정 조건의 행 개수 세기

In [ ]:
dead_cnt = titanic.loc[titanic['Survived'] == 0, 'PassengerId'].count()
survived_cnt = titanic.loc[titanic['Survived'] == 1, 'PassengerId'].count()
print(dead_cnt)
print(survived_cnt)

**1. 타이타닉의 사망자, 생존자를 Bar Chart로 표현해보세요.**

In [ ]:
x = np.arange(2)
Life = ['survived', 'dead']
values = [342, 549]

plt.bar(x, values)
plt.title('Life Table', fontsize=15)
plt.ylabel('number of people', fontsize=12)
plt.xticks(x, Life)
plt.show()

**2. Bar Chart에 나타나는 두 개의 Bar의 색을 다르게 바꿔보세요!**

In [ ]:
# 코드 작성
colors = ['springgreen','violet']
plt.bar(x, values, width=0.45, color=colors, linewidth=3, tick_label=Life)
plt.title('Life Table', fontsize=15)
plt.ylabel('number of people', fontsize=12)
plt.xticks(x, Life)
plt.show()

##seaborn(심화, 자율)

seaborn을 사용하면 matplotlib로 힘들게 그린 그래프를 더 쉽게 그릴 수 있습니다!

In [ ]:
import seaborn as sns
sns.set

In [ ]:
# titanic 데이터 읽어오기
titanic

**1. seaborn의 count plot 사용하기**

In [ ]:
sns.catplot(data=titanic, x='Survived', hue='Sex', kind='count')

In [ ]:
# 위 그래프를 참고해 Pclass별로 나누어 생존자, 사망자 수 카운트
sns.catplot(data=titanic, x='Survived', hue='Pclass', kind='count')

In [ ]:
# 위 그래프를 참고해 Embarked별로 나누어 생존자, 사망자 수 카운트
sns.catplot(data=titanic, x='Survived', hue='Embarked', kind='count')

In [ ]:
# 위 그래프를 참고해 Age별로 나누어 생존자, 사망자 수 카운트
sns.catplot(data=titanic, x='Survived', hue='Age', kind='count')